### Group By

#### Detailed Reading:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [1]:
import pandas as pd
df=pd.read_csv("train.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [2]:
df.MSZoning.value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [4]:
df.groupby('MSZoning').mean()

C:\Users\user001\AppData\Local\Temp\ipykernel_8048\2795159718.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('MSZoning').mean()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
MSZoning,,,,,,,,,,,,,,,,,,,,,
C (all),605.200000,56.000000,69.700000,9501.300000,3.900000,4.600000,1924.100000,1958.200000,0.000000,222.800000,...,9.800000,64.400000,82.500000,0.000000,9.900000,0.000000,61.400000,7.700000,2008.300000,74528.000000
FV,707.030769,90.461538,59.491228,6638.861538,7.200000,5.030769,2004.507692,2004.830769,140.806452,327.892308,...,57.276923,103.476923,0.000000,0.000000,3.046154,0.000000,0.000000,6.276923,2007.846154,214014.061538
RH,860.437500,80.312500,58.923077,7380.062500,5.250000,5.562500,1945.687500,1971.937500,57.812500,312.750000,...,67.625000,28.250000,58.687500,0.000000,0.000000,0.000000,0.000000,7.500000,2007.500000,131558.375000
RL,737.277150,49.374457,74.680043,11571.814075,6.190269,5.535187,1975.461338,1985.659427,112.260908,492.514335,...,105.133797,45.141616,16.892268,4.192007,16.841877,3.499566,47.749783,6.317116,2007.824500,191004.994787
RM,697.926606,84.931193,52.366834,6379.775229,5.454128,5.995413,1943.256881,1976.894495,56.169725,239.839450,...,53.600917,38.275229,49.752294,0.701835,10.582569,0.000000,36.330275,6.211009,2007.761468,126316.830275

In [7]:
df.groupby('MSZoning').count()

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSZoning,,,,,,,,,,,,,,,,,,,,,
C (all),10,10,10,10,10,2,10,10,10,10,...,10,0,3,2,10,10,10,10,10,10
FV,65,65,57,65,65,24,65,65,65,65,...,65,0,1,0,65,65,65,65,65,65
RH,16,16,13,16,16,2,16,16,16,16,...,16,0,2,0,16,16,16,16,16,16
RL,1151,1151,922,1151,1151,20,1151,1151,1151,1151,...,1151,7,229,45,1151,1151,1151,1151,1151,1151
RM,218,218,199,218,218,43,218,218,218,218,...,218,0,46,7,218,218,218,218,218,218

In [8]:
df.groupby('MSZoning').first()

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSZoning,,,,,,,,,,,,,,,,,,,,,
C (all),31,70,50.0,8500,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,None,MnPrv,Shed,0,7,2008,WD,Normal,40000
FV,48,20,84.0,11096,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,None,GdWo,None,0,7,2007,WD,Normal,249700
RH,342,20,60.0,8400,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,None,MnPrv,None,0,9,2009,WD,Normal,82000
RL,1,60,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Ex,MnPrv,Shed,0,2,2008,WD,Normal,208500
RM,9,50,51.0,6120,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,None,GdPrv,Shed,0,4,2008,WD,Abnorml,129900

In [9]:
df.groupby('MSZoning').last()

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSZoning,,,,,,,,,,,,,,,,,,,,,
C (all),1280,50,60.0,7500,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,None,GdWo,Shed,0,4,2010,COD,Abnorml,68400
FV,1455,20,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,None,GdWo,None,0,10,2009,WD,Normal,185000
RH,1327,30,70.0,4270,Pave,Pave,Reg,Bnk,AllPub,Inside,...,0,None,MnPrv,None,0,5,2007,WD,Normal,79000
RL,1460,20,75.0,9937,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,GdPrv,Shed,0,6,2008,WD,Normal,147500
RM,1453,180,35.0,3675,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,None,MnPrv,Shed,0,5,2006,WD,Normal,145000

In [6]:
df.groupby('MSZoning').mean()['SalePrice'] # split, apply, combine

C:\Users\user001\AppData\Local\Temp\ipykernel_8048\1338622544.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('MSZoning').mean()['SalePrice']

MSZoning
C (all)     74528.000000
FV         214014.061538
RH         131558.375000
RL         191004.994787
RM         126316.830275
Name: SalePrice, dtype: float64

In [10]:
grouped = df.groupby(['Street', 'Alley']).sum()
grouped

C:\Users\user001\AppData\Local\Temp\ipykernel_8048\3046534763.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby(['Street', 'Alley']).sum()

                 Id  MSSubClass  LotFrontage  LotArea  OverallQual  \
Street Alley
Pave   Grvl   36795        3195       2902.0   446625          259
       Pave   29782        4215       1820.0   244078          263

              OverallCond  YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1  \
Street Alley
Pave   Grvl           313      95987         98626       875.0        7208
       Pave           223      80701         81745      5327.0        9577

              ...  WoodDeckSF  OpenPorchSF  EnclosedPorch  3SsnPorch  \
Street Alley  ...
Pave   Grvl   ...        2526         2631           3753          0
       Pave   ...         980         3110           2105          0

              ScreenPorch  PoolArea  MiscVal  MoSold  YrSold  SalePrice
Street Alley
Pave   Grvl           480         0     2900     313  100383    6110954
       Pave           418         0        0     245   82320    6888024

[2 rows x 38 columns]

In [11]:
grouped = df.groupby(['MSZoning', 'Alley']).sum()
grouped

C:\Users\user001\AppData\Local\Temp\ipykernel_8048\3169843460.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby(['MSZoning', 'Alley']).sum()

                   Id  MSSubClass  LotFrontage  LotArea  OverallQual  \
MSZoning Alley
C (all)  Pave     743         120        116.0    17212            8
FV       Pave   17673        3020        940.0   100000          166
RH       Pave    1318         240        115.0    15396           11
RL       Grvl   12459         880        807.0   140052           63
         Pave    4249         345        234.0    61720           35
RM       Grvl   24336        2315       2095.0   306573          196
         Pave    5799         490        415.0    49750           43

                OverallCond  YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1  \
MSZoning Alley
C (all)  Pave            11       3820          3900         0.0           0
FV       Pave           120      48089         48099      5327.0        6927
RH       Pave            12       3846          3995         0.0         438
RL       Grvl            84      26883         27612         0.0        3843
         Pave            36      11547         11826         0.0         946
RM       Grvl           229      69104         71014       875.0        3365
         Pave            44      13399         13925         0.0        1266

                ...  WoodDeckSF  OpenPorchSF  EnclosedPorch  3SsnPorch  \
MSZoning Alley  ...
C (all)  Pave   ...          68           54            270          0
FV       Pave   ...         731         2559              0          0
RH       Pave   ...           0          110             56          0
RL       Grvl   ...        1308          563            818          0
         Pave   ...           0          160            636          0
RM       Grvl   ...        1218         2068           2935          0
         Pave   ...         181          227           1143          0

                ScreenPorch  PoolArea  MiscVal  MoSold  YrSold  SalePrice
MSZoning Alley
C (all)  Pave             0         0        0       8    4018     142776
FV       Pave           198         0        0     144   48179    4223335
RH       Pave             0         0        0      10    4016     359434
RL       Grvl             0         0     1300      83   28108    1592650
         Pave           220         0        0      38   12050    1058000
RM       Grvl           480         0     1600     230   72275    4518304
         Pave             0         0        0      45   14057    1104479

[7 rows x 38 columns]

In [12]:
grouped.index # note the index

MultiIndex([('C (all)', 'Pave'),
            (     'FV', 'Pave'),
            (     'RH', 'Pave'),
            (     'RL', 'Grvl'),
            (     'RL', 'Pave'),
            (     'RM', 'Grvl'),
            (     'RM', 'Pave')],
           names=['MSZoning', 'Alley'])

### Group by detailed

In [13]:
grp = df.groupby('MSZoning')
df.groupby('MSZoning')

In [14]:
grp.groups # dictionary where the key is the name of the group and value is the index

{'C (all)': [30, 88, 93, 495, 557, 711, 812, 916, 1061, 1279], 'FV': [47, 56, 87, 105, 115, 158, 180, 212, 240, 256, 270, 281, 285, 297, 317, 377, 381, 399, 409, 412, 453, 460, 501, 507, 525, 549, 578, 603, 623, 641, 644, 650, 686, 687, 699, 755, 758, 762, 824, 829, 831, 864, 875, 885, 914, 959, 973, 975, 977, 989, 1087, 1089, 1091, 1172, 1191, 1217, 1246, 1265, 1317, 1358, 1364, 1365, 1374, 1442, 1454], 'RH': [341, 383, 543, 635, 671, 681, 778, 840, 913, 951, 955, 1030, 1206, 1234, 1264, 1326], 'RL': [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 53, 54, 55, 57, 58, 59, 60, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 76, 78, 80, 82, 83, 84, 85, 86, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 109, 110, 111, 112, 113, 114, 116, 117, 118, 119, 120, 122, 123, 124, 126, 128, 129, 130, ...], 'RM': [8, 15, 21, 23, 29, 48, 51, 52, 61, 63, 68, 74, 75, 77, 79, 81, 104, 106, 107, 108, 121, 125, 127, 144, 145, 146, 149, 154, 164, 170, 179, 183, 185, 193, 198, 200, 203, 204, 217, 225, 227, 232, 235, 241, 242, 246, 251, 259, 263, 264, 268, 296, 304, 307, 312, 314, 323, 325, 329, 333, 344, 353, 357, 363, 365, 398, 413, 420, 425, 430, 431, 432, 434, 436, 437, 442, 448, 449, 450, 456, 458, 465, 472, 479, 482, 483, 489, 490, 494, 500, 505, 508, 522, 531, 548, 551, 555, 579, 583, 584, ...]}

In [16]:
grp.groups['C (all)']

Int64Index([30, 88, 93, 495, 557, 711, 812, 916, 1061, 1279], dtype='int64')

In [17]:
df.loc[grp.groups['C (all)']]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
88,89,50,C (all),105.0,8470,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,10,2009,ConLD,Abnorml,85000
93,94,190,C (all),60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,133900
495,496,30,C (all),60.0,7879,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,11,2009,WD,Abnorml,34900
557,558,50,C (all),60.0,11040,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,9,2006,COD,Normal,108000
711,712,50,C (all),66.0,8712,Pave,Pave,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Abnorml,102776
812,813,20,C (all),66.0,8712,Grvl,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,Shed,54,6,2010,WD,Alloca,55993
916,917,20,C (all),50.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2006,WD,Abnorml,35311
1061,1062,30,C (all),120.0,18000,Grvl,NaN,Reg,Low,AllPub,...,0,NaN,NaN,Shed,560,8,2008,ConLD,Normal,81000
1279,1280,50,C (all),60.0,7500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,COD,Abnorml,68400

### Group by columns

In [18]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [19]:
def starts_with_m(column_name):
    if str.startswith(column_name, "M"):
        return "M_column"
    return "Other_column"

In [21]:
# Groups by first column starting with M, (MSSubClass), and first column not starting with M, (id)
grouped = df.groupby(starts_with_m, axis=1)
grouped.first()

      M_column  Other_column
0           60             1
1           20             2
2           60             3
3           70             4
4           60             5
...        ...           ...
1455        60          1456
1456        20          1457
1457        70          1458
1458        20          1459
1459        20          1460

[1460 rows x 2 columns]

In [22]:
grp = df.groupby('MSZoning')

In [23]:
# returns all the sums of the LotArea and lotFrontage of the group MSZoning as a sum
for key, group in grp:
    print((group.LotArea + group.LotFrontage).sum())

95710.0
401857.0
90710.0
10144782.0
1303061.0

In [24]:
df.groupby('MSZoning').apply(lambda x: (x.LotArea + x.LotFrontage).sum())

MSZoning
C (all)       95710.0
FV           401857.0
RH            90710.0
RL         10144782.0
RM          1303061.0
dtype: float64

In [25]:
# or function specified outside like this:
def area_frontage_sum(group):
    return (group.LotArea + group.LotFrontage).sum()

df.groupby('MSZoning').apply(area_frontage_sum)

MSZoning
C (all)       95710.0
FV           401857.0
RH            90710.0
RL         10144782.0
RM          1303061.0
dtype: float64

In [26]:
def area_frontage_sum(group, multiplier):
    return (group.LotArea + group.LotFrontage).sum() * multiplier

df.groupby('MSZoning').apply(area_frontage_sum, multiplier=2)

MSZoning
C (all)      191420.0
FV           803714.0
RH           181420.0
RL         20289564.0
RM          2606122.0
dtype: float64