In [1]:
import pandas as pd

### The Melt Function

* This function is useful to transform a dataframe into a format where one or more columns are identifier variables (id_vars), while all other columns, considered measured variables (value vars), are "unpivoted" to the row axis, leaving just two non-identifier columns, 'variable', and 'value'.

In [2]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [3]:
df.melt(id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [ ]:
# The Explode Function

* Transform each element of a list-like to a row, replicating index values

In [4]:
df = pd.DataFrame({'A': [[1, 2, 3], 'foo', [], [3,4]], 'B': 1})
df

           A  B
0  [1, 2, 3]  1
1        foo  1
2         []  1
3     [3, 4]  1

In [5]:
df.explode('A')

     A  B
0    1  1
0    2  1
0    3  1
1  foo  1
2  NaN  1
3    3  1
3    4  1

# Squeeze Function

* Series or dataframes with a single element are squeezed to a scalar. Dataframes with a single column or a single row are squeezed to a series. Otherwise the object is unchanged.

* This method is most useful when you don't know if your object is a series or dataframe, but you do know it has just a single column. In that case you can safely call squeeze to ensure you have a series.

In [6]:
df = pd.DataFrame([[1,2], [3,4]], columns=['a', 'b'])

df

   a  b
0  1  2
1  3  4

In [7]:
df_a = df[['a']]
df_a

   a
0  1
1  3

In [8]:
df_a.squeeze()

0    1
1    3
Name: a, dtype: int64