In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    data={
        ("player1", "x"): np.arange(2,7),
        ("player1", "y"): np.arange(2,7),
        ("player2", "x"): np.arange(2,7),
        ("player2", "y"): np.arange(2,7),
    },
    index=[("player1", "x"), ("player1", "x"),("player1", "x"), ("player1", "x"), ("player1", "x")]
)
df

             player1    player2
                   x  y       x  y
(player1, x)       2  2       2  2
(player1, x)       3  3       3  3
(player1, x)       4  4       4  4
(player1, x)       5  5       5  5
(player1, x)       6  6       6  6

In [4]:
df.columns

MultiIndex([('player1', 'x'),
            ('player1', 'y'),
            ('player2', 'x'),
            ('player2', 'y')],
           )

### Selecting

In [5]:
df['player1']['x']

(player1, x)    2
(player1, x)    3
(player1, x)    4
(player1, x)    5
(player1, x)    6
Name: x, dtype: int32

In [7]:
df.loc[:, ("player1", "x")]

(player1, x)    2
(player1, x)    3
(player1, x)    4
(player1, x)    5
(player1, x)    6
Name: (player1, x), dtype: int32

### Indexing

In [8]:
df.loc[0:2, ("player1", "x")] = 0
df

C:\Users\user001\AppData\Local\Temp\ipykernel_3932\2198963037.py:1: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  df.loc[0:2, ("player1", "x")] = 0

             player1    player2
                   x  y       x  y
(player1, x)       0  2       2  2
(player1, x)       0  3       3  3
(player1, x)       4  4       4  4
(player1, x)       5  5       5  5
(player1, x)       6  6       6  6

In [10]:
df = pd.DataFrame(
    data={
        ("player1", "x"): np.arange(2,7),
        ("player1", "y"): np.arange(2,7),
        ("player1", "x"): np.arange(2,7),
        ("player1", "y"): np.arange(2,7),
    }
)

df[df['player1']['x'] < 4]['player1']['x'] = 0
df

  player1
        x  y
0       2  2
1       3  3
2       4  4
3       5  5
4       6  6