# STACK and UNSTACK

* Pivot a level of the (necessarily hierarchical index labels.
* Returns a dataframe having a new level of column labels which inner-most level consists of the pivoted index labels.
* If the index is not a multi-index, the output will be a series (the analogue of stack when the columns are not multi-index

Parameters: level : int, str, or list of these, default -1 (last level)
                    Level(s) of index to unstack, can pass level name.
                    
            fill_value : int, str or dict
                    Replace NaN with this value if the unstack produces missing values.
                    
            Returns: Series or Dataframe

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[0,1], [2,3]],
                 index=['cat', 'dog'],
                 columns=['weight', 'height'])

df

     weight  height
cat       0       1
dog       2       3

In [3]:
df.stack()

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [4]:
df.unstack()

weight  cat    0
        dog    2
height  cat    1
        dog    3
dtype: int64